body
{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

/*navbar*/
#logo
{
   font-family: 'Lobster', cursive;
   font-size: 40px;
   line-height: 40px;
}

#menu-title
{
   font-family: 'Lobster', cursive;
   font-size: 25px;
   line-height: 50px;
   text-align: center;
}

/*wrapper for sidebar and workspace*/
.wrapper {
   display: flex;
   width: 100%;
   align-items: stretch;
}

/*sidebar*/
#button-1
{
   width: 65px;
}

/*workspace*/
.workspace 
{
   padding: 100px;
   height: 85vh;
}

.wall-wrapper *
{
   background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12));
   background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12));
   background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12));
}

/*wall*/
.wall-section
{
   width: 230px;
   background: repeating-linear-gradient(-45deg,
                                         rgba(0, 0, 0, 0.38),
                                         rgba(0, 0, 0, 0.38) 60px,
                                         rgb(150, 150, 150) 11px,
                                         rgb(150, 150, 150) 120px);
}


#back-wall
{
   display: flex;
   flex-flow: column;
}

/****cabinets****/

/*moulding*/
#moulding
{
   height: 100px;
}

/*upper-cabinters*/
#upper-cabinets-wrapper
{
  flex-grow : 1;
  display: inline-flex;
}

/*backsplash*/
#backsplash
{
   height: 600px;
}

/*countertop*/
#countertop
{
   height: 40px;
   background-color: darkgray;
}

/*base-cabinet*/
#base-cabinets-wrapper
{
   height: 720px;
   display: inline-flex; 
}

/*plinth*/
#plinth
{
   height: 100px;
}

.cabinet
{
   height: 100%;
   width: 600px;
   display: inline-block;
   border-width: thick;

}
.last-cabinet
{
  flex-grow : 1;
}