body
{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

/*navbar*/
#logo
{
   font-family: 'Lobster', cursive;
   font-size: 40px;
   line-height: 40px;
}

#menu-title
{
   font-family: 'Lobster', cursive;
   font-size: 25px;
   line-height: 50px;
   
   text-align: center;
}

/*wrapper for sidebar and workspace*/
.wrapper {
   display: flex;
   width: 100%;
   align-items: stretch;
}

/*sidebar*/
#button-1
{
   width: 65px;
}

/*workspace*/
.workspace 
{
   width: 100%;
   padding: 100px;
   min-height: 100vh;
   transition: all 0.3s;

}

/*wall*/
#back-wall
{
   height: 270px;
   width: 350px;
   margin: auto;
   display: flex;
   flex-flow: column;
}

/****cabinets****/

/*moulding*/
#moulding
{
   height: 10px;
}

/*upper-cabinters*/
#upper-cabinets-wrapper
{
  flex-grow : 1;
  display: inline-flex;
}

/*backsplash*/
#backsplash
{
   height: 60px;
}

/*countertop*/
#countertop
{
   height: 4px;
   background-color: darkgray;
}

/*base-cabinet*/
#base-cabinets-wrapper
{
   height: 72px;
   display: inline-flex; 
}

/*plinth*/
#plinth
{
   height: 10px;
}

.cabinet
{
   height: 100%;
   width: 60px;
   display: inline-block;
}
.last-cabinet
{
  flex-grow : 1;
}