body
{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
}

.no-border {
    border: 0 !important;
    box-shadow: none;
}

/*navbar*/
#logo
{
   font-family: 'Lobster', cursive;
   font-size: 40px;
   line-height: 40px;
}

#menu-title
{
   font-family: 'Lobster', cursive;
   font-size: 25px;
   line-height: 50px;
   text-align: center;
}

.nav
{
   min-width: 165px;
}

/*wrapper for sidebar and workspace*/
.wrapper {
   display: flex;
   width: 100%;
   align-items: stretch;
}

/*sidebar*/
#button-1
{
   width: 65px;
}

/*workspace*/
.workspace 
{
   padding: 100px;
   height: 85vh;
}

.wall-wrapper *
{
   background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.08));
   background-image: -o-linear-gradient(top left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.08));
   background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.08));
   
}

/*wall*/
.wall-section
{
   width: 23px;
   background: repeating-linear-gradient(-45deg,
                                         rgba(0, 0, 0, 0.23),
                                         rgba(0, 0, 0, 0.23) 6px,
                                         rgb(191, 191, 191) 1.1px,
                                         rgb(191, 191, 191) 12px);
   border: solid 1px rgba(0, 0, 0, 0.05);
}

#back-wall
{
   display: flex;
   flex-flow: column;
}

/****cabinets****/

/*moulding*/
#moulding-wrapper
{
   height: 10px;
}

#main-cabinets-wrapper
{
   flex-grow : 1;
   display: flex;
}

#fridge
{
   height: 180px;
}

#cabinet-over-fridge
{
   flex-grow : 1;
}

#fridge-wrapper
{
   width: 60px;
   display: flex;
   flex-flow: column;
}

#cabinets-wrapper-1
{
/*   display: inline-block;*/
   display: flex;
   flex-flow: column;
   flex-grow : 1;
}

/*upper-cabinters*/
#upper-cabinets-wrapper
{
   flex-grow : 1;
   display: inline-flex;
}

/*backsplash*/
#backsplash-wrapper
{
   height: 60px;
}

/*countertop*/
#countertop-wrapper
{
   height: 4px;
}

/*base-cabinet*/
#base-cabinets-wrapper
{
   height: 72px;
   display: inline-flex; 
}

/*plinth*/
#plinth-wrapper
{
   height: 10px;
}

.cabinet
{
   height: 100%;
   width: 60px;
   display: inline-block;
}

.last-cabinet
{
  flex-grow : 1;
}